# Ignorar entorno virtual de Python
backend/.venv/

# Ignorar variables de entorno (credenciales)
backend/.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de VSCode
.vscode/
